 
body{
    
  
    margin-top: 10px;margin-right: 125px;margin-bottom: 30px;margin-left: 125px;
    
     background-color:black;
     color: rgb(155, 199, 238);
     
     font-family:Roboto,arial,sans-serif;
     background-size: cover;
     font-size: medium;
     font-weight: normal;
     box-sizing: border-box;
     line-height: 1.75;
     letter-spacing: 1px;
 
 }
 


 
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #255f69;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #6fdff3;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: burlywood;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

  .dropdown-menu li a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
img{
    
    width:400px;
    float: right; 
    
}

b img{
    border: 10px solid;
    border-color: coral;
    width: 64px;
    height:64px;
    float: left;

   
}
p{
  color: rgb(237, 237, 243);font-size: larger;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(243, 236, 199);
  border-radius: 10px;
  padding: 5px;
  background-color: gray;font-size: medium;
}


h2{
  border-top-style: dotted;
    border-bottom-style:double;
    padding: 20px;
    border-style: double;
    border-left-color: brown;
    border-right-color: brown;
    font-family: 'Space Mono', monospace;


color: rgb(247, 239, 239);
}

button {
  float:right;

  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


